@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('../fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('../fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('../fonts/Barlow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('../fonts/Barlow-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../fonts/Barlow-SemiBold.woff') format('woff');    
}

@font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../fonts/Barlow-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../fonts/Barlow-Black.woff') format('woff');
}
    



@media only screen and (min-width: 500px){
    body {
        width:420px;
    }
}

@media screen and (min-width: 800px) {
    body {
        width:720px;
    }
}

* {
    box-sizing: border-box;
    width: 100%t;
    height: 100%;
    margin: 0;
    
} 

html, body {

    width: 100%;
    height: 100%;
    margin:0;

}

div {
    width: 100%; 
    height: 100% ;
}

/* Navigation */

.nav-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100% fit-content;
    height: 83px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: auto;

}

nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    overflow: hidden;
}

nav ul {
    display: flex;
    position: absolute;
    width: 231.51px;
    height: 15.2px;
    left: 1000px;
    top: 34px;

}

nav .logo {
    position: absolute;
    width: 46.32px;
    height: 52.06px;
    left: 18px;
    top: 16px;
}


.nav-items li {
    list-style: none;
    margin-right: 50px ;


}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-items li a span{

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-items span a:hover {

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-items li a:hover {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* About */

.about-page {
    align-items: center;
    width: 100%;
    background-image: url(../images/background.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-page h1 {

    position: absolute;
    width: 430px;
    height: 134px;
    left: 505px;
    top: 200px;

    font-family: Monument Extended Ultrabold, "Monument Extended Ultrabold";
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 140%;


    text-align: center;

    text-align: center;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.about-page span {

    display: block;
    text-align: center;
    align-items: center;
    width: 629px;
    height: 145px;
    left: 664px;
    top: 400px;

    margin-top: 40px;
    margin-left: 430px;
    margin-right: 216px;
    margin-bottom: 36px;
    

    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.about-page a{

    margin-top: 600px;
    margin-left: 620px;
    margin-bottom: 100px ;
}

a:hover {
    transform: translateY(-8px);
}


/* .primary a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px 20px 28px;

    width: 240px;
    height: 49px;
    left: 662px;
    top: 1093px;
    
    margin-left: 1000px;

    border-radius: 50px;

}

.secondary a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px 20px 28px;

    margin-left: 500px;

    width: 240px;
    height: 49px;
    left: 1040px;
    top: 1093px;

} */




