@font-face {
    font-family: 'Monument Extended Ultrabold';
        src: url('../fonts/monumentextended-ultrabold-webfont.woff2') format('woff2'),
             url('../fonts/monumentextended-ultrabold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Barlow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Regular'), url('../fonts/Barlow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Medium'), url('../fonts/Barlow-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Barlow SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow SemiBold'), url('../fonts/Barlow-SemiBold.woff') format('woff');    
}

@font-face {
    font-family: 'Barlow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Bold'), url('../fonts/Barlow-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Barlow Black';
    font-style: normal;
    font-weight: normal;
    src: local('Barlow Black'), url('../fonts/Barlow-Black.woff') format('woff');
}
    





* {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
} 

html, body {

    width: 100%;
    height: 100%;
    margin:0;
    margin-top: 30px;

}

div {
    width: 100%; 
    height: auto ;
}

/* Navigation */

.nav-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100% fit-content;
    height: 83px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    
}

.wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: auto;
}

nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 72px;
    overflow: hidden;
}

nav ul {
    display: flex;
    position: absolute;
    width: 231.51px;
    height: 15.2px;
    left: 1000px;
    top: 34px;

}

nav .logo {
    position: absolute;
    width: 46.32px;
    height: 52.06px;
    left: 18px;
    top: 16px;
}


.nav-items li {
    list-style: none;
    margin-right: 50px ;


}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {

    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-items li a:hover {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header */

.header-container {
    background-size: contain;
    align-items: center;
    width: 100%;
    margin: 0;
    
    width: 1440px;
    height: 974px;
    left: 0px;
    top: 0px;
}


header {
    background-image: url(../images/Header.png);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    background-image: url(../images/Header.png);
    width: 100%;
}

header h1 {
    position: absolute;
    width: 1000px;
    height: 224px;
    left: 137px;
    top: 460px;

    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 140%;
   
    color: #FFFFFF;
}

header h1 span {
    font-size: 72px;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px 28px;

    position: absolute;
    width: 238px;
    height: 58px;
    left: 120px;
    top: 693px;
}

header a:hover {
    transform: translateY(-8px);
}

/* Social Icons */

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 650px;

    height: 36.15031814575195px;
    width: 282.1717834472656px;
    left: 137px;
    top: 736px;
    border-radius: 0px;

    position: absolute;
    left: 9.51%;
    right: 70.89%;
    top: 19.85%;
    bottom: 79.23%;
}

.social-icons a {
    margin: 0 24px;
}

.social-icons a:nth-of-type(1) {
    margin-left: 0;
}

.social-icons a:hover {
    transform: translateY(-8px);
}

/* About */

.about {
    align-items: center;
    width: 100%;
    background-image: url(../images/about\ black.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about h1 {

    position: absolute;
    width: 414px;
    height: 134px;
    left: 503px;
    top: 1016px;

    font-family: Monument Extended Ultrabold, 'Monument Extended Ultrabold';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 140%;

    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about my-pic {

    position: absolute;
    width: 378px;
    height: 382px;
    left: 171px;
    top: 120px;

    padding-top: 216px;
    padding-left: 72px;
    padding-right: 822px;
    padding-bottom: 228px;
}

.about p {

    position: absolute;
    width: 691px;
    height: 145px;
    left: 619px;
    top: 1220px;

    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */


    /* White */

    color: #FFFFFF;
}

.about p span {

    width: 691px;
    height: 200px;
    left: 619px;
    top: 1240px;

    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about emphasizer {

    position: absolute;
    width: 640px;
    height: 144px;
    left: 641px;
    top: 1496px;

}

.about a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px 28px;

    position: absolute;
    width: 236px;
    height: 49px;
    left: 1045px;
    top: 1680px;
}

.about a:hover {
    transform: translateY(-8px);
}

/* Footer */

.footer {
    width: 100%;
}

.footer p {
    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    margin-left: 160px;

    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer social-medias {
    margin-bottom: 120px;
    margin-left: 1124px;
    margin-right: 360px;
}

.footer social-medias h4{
    font-family: "Barlow Medium";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    margin-right: 100px;

    background: -webkit-linear-gradient(134deg, rgba(172,242,188,1) 0%, rgba(132,244,204,1) 13%, rgba(115,198,240,1) 34%, rgba(172,131,235,1) 48%, rgba(244,132,218,1) 63%, rgba(255,215,117,1) 86%, rgba(255,234,97,1) 98%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 500px){
    body {
        width:420px;
    }
}

@media screen and (min-width: 800px) {
    body {
        width:720px;
    }
}