* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v34_525 {
    width: 100%;
    height: 83px;
    background: url("../images/v34_525.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v34_526 {
    width: 100%;
    height: 83px;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v34_527 {
    width: 236px;
    height: 43px;
    background: url("../images/v34_527.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 1143px;
    overflow: hidden;
  }
  .v34_528 {
    width: 57px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Heebo;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v34_529 {
    width: 59px;
    color: url("../images/v34_529.png");
    position: absolute;
    top: 0px;
    left: 82px;
    font-family: Heebo;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v34_530 {
    width: 71px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 165px;
    font-family: Heebo;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  